<!DOCTYPE html>

<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title>
      Study Room
    </title>




    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
   
       <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>     

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Include stylesheet -->
    <link href="/ext/editor/quill.snow.css" rel="stylesheet" />
    <link href="/ext/editor/editor.css" rel="stylesheet" />
  </head>

  <body style="background-image:url('/ext/images/study-room-bg-1.jpg')">
      <br/>
      <h1 style="text-align: center;color: whitesmoke">Study Room</h1>
      <h4 style="text-align: center;color: whitesmoke">Discover Your Imagination..</h4>
      <hr style="text-align: center;width:80%;color: whitesmoke"/>
      
      <br/>
    <div class="editorStyle">
      <!-- Create toolbar container  -->
      <div id="toolbar" style="background-color: #ccae62; color: white">
        <span class="ql-formats" >
          <select class="ql-font" id="ql-font" data-title-tooltip="data-title" data-pos="bottom" data-title="Font Style" ></select>
          <select class="ql-size" id="ql-size" data-title-tooltip="data-title" data-pos="bottom" data-title="Font Size" >
                <option id="ql-size-option" value=""></option>
              <option value="small"></option>
              <option value="large"></option>
              <option value="huge"></option>
          </select>
        </span>
        <span class="ql-formats" id="ql-font-format"  >
          <button class="ql-bold" style="color: whitesmoke" data-title-tooltip="data-title" data-pos="bottom" data-title="Bold" ></button>
          <button class="ql-italic" style="color: whitesmoke" data-title-tooltip="data-title" data-pos="bottom" data-title="Italic" ></button>
          <button class="ql-underline" style="color: whitesmoke" data-title-tooltip="data-title" data-pos="bottom" data-title="Underline" ></button>
          <button class="ql-strike" style="color: whitesmoke" data-title-tooltip="data-title" data-pos="bottom" data-title="Strike" ></button>
        </span>
        <span class="ql-formats">
          <select class="ql-color" data-title-tooltip="data-title" data-pos="bottom" data-title="Font Color" ></select>
          <select class="ql-background" data-title-tooltip="data-title" data-pos="bottom" data-title="Background Color" ></select>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub" data-title-tooltip="data-title" data-pos="bottom" data-title="Sub Script" ></button>
          <button class="ql-script" value="super" data-title-tooltip="data-title" data-pos="bottom" data-title="Super Script" ></button>
        </span>
        <span class="ql-formats">
          <button class="ql-header" value="1" data-title-tooltip="data-title" data-pos="bottom" data-title="Header-1" ></button>
          <button class="ql-header" value="2" data-title-tooltip="data-title" data-pos="bottom" data-title="Header-2"></button>
          <button class="ql-blockquote" data-title-tooltip="data-title" data-pos="bottom" data-title="Blockquote"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered" data-title-tooltip="data-title" data-pos="bottom" data-title="List Ordered"></button>
          <button class="ql-list" value="bullet" data-title-tooltip="data-title" data-pos="bottom" data-title="List Bullet"></button>
          <button class="ql-indent" value="-1" data-title-tooltip="data-title" data-pos="bottom" data-title="Indent Negative"></button>
          <button class="ql-indent" value="+1" data-title-tooltip="data-title" data-pos="bottom" data-title="Indent Positive"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-direction" value="rtl" ></button>
          <button class="ql-align" value=""></button>
          <button class="ql-align" value="center" data-title-tooltip="data-title" data-pos="bottom" data-title="Center Align"></button>
          <button class="ql-align" value="right" data-title-tooltip="data-title" data-pos="bottom" data-title="Right Align"></button>
          <button class="ql-align" value="justify" data-title-tooltip="data-title" data-pos="bottom" data-title="Justify Align"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-link" data-title-tooltip="data-title" data-pos="bottom" data-title="Add Link"></button>
          <button class="ql-formula" data-title-tooltip="data-title" data-pos="bottom" data-title="Add Formula"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-clean"></button>
        </span>
      </div>

      <!-- Create the editor container -->
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </div>
    </div>

    <div class="card-panel brown darken-4" id="cardPanel">
            <div class="row">
                    <div class="input-field col s6">
                            <input  id="story-title" type="text"  class="validate" value="<%= storyData.title%>">
                            <label for="story-title" >Story Title</label>
                            <span id="story-title" class="helper-text" data-error="*required" data-success="all right" ></span>
                          </div>

                          <div class="col s6 input-field">
                                <select id="selectItems" class="validate" onchange="selectStyle(this)">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                      </select>
                                      <label>Genre</label>
                                      <span id="sTitle" style="color: #ff3838;display: none">*required</span>

                          </div>

            </div>

            <div id="buttons">
            <button class="waves-effect waves-light btn-large" id="onlySave" onclick="saveStory('save')" style="background-color: #227093"><i class="material-icons right">save_alt</i>Save</button> &nbsp;
            <% if(!storyData.published){%>
            <button class="waves-effect waves-light btn-large" id="savePublish" onclick="saveStory('publish')" style="background-color: #16a085;" ><i class="material-icons right">publish</i>Save & Publish</button>
           <%}%>  
          </div>
            <div id="loader" style="display: none;width:50%">
                <h6 style="color: #bdc3c7">Please Wait..</h6>
  <div class="progress">
        <div class="indeterminate" style="background-color: #c0392b;"></div>
    </div>

       
          
            </div>
            <div id="success-message" style="display: none;width: 50%">
                    <div class="card-panel " style="padding: 5px;background-color:#218c74">
                        <p id="s_msg" style="text-align: center" style="color: whitesmoke">Operation Successful..</p>
                    </div>
                </div>

                <div id="error-message" style="display: none;width: 50%">
                  <div class="card-panel " style="padding: 5px;background-color:#b33939">
                      <p id="e_msg" style="text-align: center" style="color: whitesmoke">Operation Successful..</p>
                  </div>
              </div>
        
          </div>


          <!--Footer added-->
          <% include ../partial/footer %>

  </body>

  <!-- Include the Quill library -->
  <script src="/ext/editor/quill.js"></script>

  <!-- Initialize Quill editor -->
  <script src="/ext/editor/editor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="/ext/editor/editors-helper.js"></script>
  <script>
    let x = [<%= fonts.length%>];
    let val;
  </script>

  <% for(let i=0;i<fonts.length;i++){%>
     <script>
        val={
            "name":"<%=fonts[i].name%>",
            "link":"<%= fonts[i].link%>"
        };
        x[<%= i%>]=val;
        </script>
  <%}%>
  <script>
      let userName="<%= user.userName%>";
      let s_title="<%= storyData.title%>";
      $(document).ready(async()=>{
       await addFonts(x);
       $('#selectItems').formSelect();
      console.log(JSON.parse(<%- JSON.stringify(storyData.s_body.content) %>));
       await addContent(JSON.parse(<%- JSON.stringify(storyData.s_body.content) %>));
       
      });

      window.console.log = function(){
  console.error('Sorry , developers tools are blocked here....');
  window.console.log = function() {
      return false;
  }
}

console.log('test');	

     
  </script>
</html>
