<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title><%= userName%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <script src="https://use.fontawesome.com/3592b3a7e2.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--Sweet alert cdn-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  </head>
  <style>
    body {
      background: url("/ext/images/piece-anime-simple-background-download.jpg");
      background-size: cover;
    }
    .form-control {
      border-radius: 0px;
      background-color: transparent;
      color: whitesmoke;
    }
    .jumbotron {
      background: url("/ext/images/21857.jpg");
      background-size: auto;
      border-radius: 15px;
      width: 90%;
      margin-left: 5%;
      opacity: 0.8;
      margin-bottom: 0px;
    }
  </style>
  <script>
    $(document).ready(() => {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <img
          src="/ext/images/writter/default.png"
          height="150"
          style="border-radius: 50%"
        />
        <h1 style="color: whitesmoke"><%= fullName%></h1>
      </div>
      <div
        style="margin-top: 0px;width: 90%;margin-left: 5%;opacity: 0.8;"
        border="0"
      >
        <!-- Blue with white text -->
        <nav
          class="navbar navbar-expand-sm  navbar-dark"
          style="background-color: #6D214F;border-radius: 50px"
        >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/profile">Profile</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="/profile"
                  >Profile<span class="sr-only">(current)</span></a
                >
              </li> -->
              <li class="nav-item active">
                <a class="nav-link" href="/story"
                  >Story<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/profile/<%= userName%>/stories"
                  >My Stories<span class="sr-only">(current)</span></a
                >
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/profile/<%= userName%>/study-room"
                  >New Story<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/logout"
                  >Logout<span class="sr-only">(current)</span></a
                >
              </li>
            </ul>
          </div>
        </nav>

        <table
          class="table table-dark"
          style="margin-top: 0px;border: 0px;border-radius: 15px;padding: 5px;border-collapse:unset"
          border="0"
        >
          <tbody>
            <tr>
              <td>Full Name</td>
              <td>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="f_name"
                    value="<%= fullName %>"
                  />
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  onclick="update(0,'<%= userName %>')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Update Name"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    value="<%= email %>"
                  />
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  onclick="update(1,'<%= userName %>')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Update Email"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <!-- <tr>
              <td>Password</td>
              <td>
                <div class="form-group">
                  <input
                    style="background-color: transparent;color:whitesmoke"
                    type="password"
                    disabled
                    class="form-control"
                    id="f_name"
                    value="<%= password %>"
                  />
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-outline-info">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr> -->
            <tr>
              <td>About Me</td>
              <td>
                <div class="form-group">
                  <textarea
                    type="textarea"
                    rows="10"
                    class="form-control"
                    id="about_me"
                  >
<%=typeof about_me==='undefined' ? " ":about_me%></textarea
                  >
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  onclick="update(2,'<%= userName %>')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Update"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <Script>
    let errorMsg,successMsg,validation,validateEmail,update;
    validateEmail=(email)=>{ let re =
    /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    return re.test(String(email).toLowerCase()); }; errorMsg=(msg)=>{ Swal.fire(
    "Oops!! 👻", msg, "error" ); }; successMsg=(msg)=>{ Swal.fire( "Success ✌️",
    msg, "success" ); }; validation=(data,w)=>{ if(data ==="") {
    errorMsg("Field"+ " is empty"); return false;} if(w==1){ let
    i=validateEmail(data); if(i){return true;} else {errorMsg("Enter valid "+
    "email address"); return false; } } else{ return true; } }; update=(w,un)=>{
    let arrData=new Array(0,0,0); arrData[w]=1; let dd=""; if(w==1){
    dd=$("#email").val(); }else if(w==2){ dd=$("#about_me").val(); }else
    if(w==0){ dd=$("#f_name").val(); } if(validation(dd,w)){ $.ajax({
    url:"/uc/update", method:"POST", data:{data:dd,val:w,uname:un},
    success:(res)=>{ if(res.status===2000){ successMsg(res.msg);
    setTimeout(()=>{location.reload();},3000)}else{ console.error(res.msg); } },
    error:(err)=>{ console.error(err); } }); } }
  </Script>
</html>
