<!DOCTYPE html>
<% notSecret="Already-in-secret" %>
<% secret=`keep-it-secret-from-the-public`%>
<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title>Stories</title>
  </head>

  <!--############################# All css file bootstrap #############################-->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <style>
    body {
      background-color: #292a2b;
    }

    /* center the blockquote in the page */
    .blockquote-wrapper {
      display: flex;
      height: 100vh;
      padding: 0 20px;
    }

    /* Blockquote main style */
    .blockquote {
      position: relative;
      font-family: "Barlow Condensed", sans-serif;
      max-width: 620px;
      margin: 80px auto;
      align-self: center;
    }

    /* Blockquote header */
    .blockquote h1 {
      font-family: "Abril Fatface", cursive;
      position: relative; /* for pseudos */
      color: #e74848;
      font-size: 2.8rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 2px;
      border-radius: 20px;
      padding: 25px;
    }

    /* Blockquote right double quotes */
    .blockquote h1:after {
      content: "";
      position: absolute;
      border: 2px solid #e74848;
      border-radius: 0 50px 0 0;
      width: 60px;
      height: 60px;
      bottom: -62px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3;
    }

    .blockquote h1:before {
      content: "";
      position: absolute;
      width: 80px;
      border: 6px solid #292a2b;
      bottom: -3px;
      left: 50px;
      z-index: 2;
    }

    /* increase header size after 600px */
    @media all and (min-width: 600px) {
      .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }

    /* Blockquote subheader */
    .blockquote h4 {
      position: relative;
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left: 150px;
      padding-left: 12px;
    }

    .blockquote h4:first-letter {
      margin-left: -12px;
    }
    .quote {
  font-family: Georgia, serif;
  font-size: 1em;
}
.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}
.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: .8;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 2px;
  margin-left: -4px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 2px;
  margin-right: -4px;
}
 td button{
  border-radius: 30px; 
  width: 100%;
 }
    
    #user-story{
        margin-top:5%;
        width: 90%;
      margin-left: 5%;
      right: 5%;
    }
    

    #stories-table{
        width: 90%;
      margin-left: 5%;
      right: 5%;
      top: 2%;
        display: block;
        height: 500px;
      max-height: 500px;
      overflow: auto;
    }
    #stories-table thead th { position: sticky; top: 0; background-color:#2f3640; }

    #table-body tr td,th{
        color:whitesmoke;
    }

    #table thead tr th{
        color: blanchedalmond;
    }
    #search-group{
        width:50%;
        margin-left:5%;
        color:whitesmoke;
    }

    #search-table{
        background-color: transparent;
        color:whitesmoke;
        border-radius: 0px;
    }
    
  
  </style>
  <!-- background="/ext/images/v430batch4-kul-09-acrylicearthtonebackground_1.jpg"-->
  <body>
    <br />
    <
    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h1>
          <!-- <span style="color:#ffffff"> </span> -->
          <figure class="quote">
             <blockquote class="curly-quotes" >
                The truth of the story  <span style="color:#ffffff"
                >lies in the details.
               </span>
      
             </blockquote>
           </figure>
        </h1>
        <h4>
          &mdash; Carlos Ruiz Zafón,<br /><em> The Shadow of the Wind</em>
        </h4>
      </div>
    </div>
    <br/>


    <div id="user-story">
        
            <div class="form-group" id="search-group">
                    <label for="search-table">Search Story</label>
                    <input class="form-control form-control-sm" id="search-table" aria-describedby="searchHelp" type="text" placeholder="Search....">
                    <small id="searchHelp" class="form-text text-muted">* Enter title to search story or Type "YES"/"NO" to sort publish</small>
                  </div>
            

        <div id="stories-table">
    <table class="table table-striped table-dark" id="table">
      <thead style="background-color: #2c2c54;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Published</th>
          <th scope="col">Publish Date</th>
          <th scope="col">Edit</th>
          <th scope="col">View</th>
          <th scope="col">Keep Secret</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
     
      <tbody id="table-body">
          <%for(let i=0;i<stories.length;i++){%>
        <tr style=<%= (i%2)==0 ? 'background-color:#3d3d3d' : 'background-color:#2d3436' %>>
          <th scope="row"><%= i+1;%></th>
          <td><%= stories[i].title%></td>
          <td><b style=<%= stories[i].published ? 'color:#218c74': 'color:#b33939' %>><%= stories[i].published ? "YES": "NO" %></b></td>
          <td><%= (stories[i].published) ? stories[i].p_date.getDate()+"-"+(stories[i].p_date.getMonth()+1)+"-"+stories[i].p_date.getFullYear() : "--" %></td>
          <td>
            <button
              type="button"
              class="btn btn-outline-info"
              style="border-radius: 30px;width: 100%"
          
              onclick="editRoom('<%= stories[i].link %>')"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <a
             href="/demo/<%=stories[i].link%>"
              class="btn btn-outline-primary"
              style="border-radius: 30px;width: 100%"
              title="View the story page"
              data-toggle="tooltip"
              data-placement="top"
            >
            <i class="fa fa-desktop" aria-hidden="true"></i>

          </a>
          </td>
          <td>
                <button
                  type="button"
                  class="btn btn-dark"
                  style="border-radius: 30px; width: 100%;"
                  title=" <%= (stories[i].published) ? 'Keep it secret from public' : 'Publish it & make it public'%>"
                  data-toggle="tooltip" 
                  data-placement="top"
                  onclick="hideStory('<%= stories[i].s_ID %>','<%= stories[i].published %>')"
                >
                <% if(stories[i].published){ %>
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                <%}else{%>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <%}%>
                </button>
              </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger"
              style="border-radius: 30px;width: 100%"
              onclick="removeStory('<%= stories[i].s_ID %>')"
              title= "Delete your work"
              data-toggle="tooltip" 
              data-placement="top"
            >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
</div>
</div>
<br>
  <!--Footer added-->
  <!-- <% include ../partial/footer %> -->
  </body>

  <!--################# All js files #####################################-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <script src="https://use.fontawesome.com/3592b3a7e2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  <script>
   $(document).ready(()=>{
    $('[data-toggle="tooltip"]').tooltip();
       setTimeout(()=>{
        $('html, body').animate({
    scrollTop: ($('#user-story').offset().top)
},1500);


       },1000);


       $("#search-table").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table-body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
   });

   let editRoom=(l)=>{
      let paths=window.location.pathname.split("/");
      paths[paths.length-1]="editor-room/";
      window.location.href=paths.join("/")+l;
   }

   let viewPage=()=>{

   }

   

   let removeStory=async(id)=>{
       let decision=await Swal.fire({
           title:"Think Again! 🤔",
           text:"Are you sure to remove your work?",
           type:"warning",
           showCancelButton:true,
           cancelButtonText:"Yes, I know what I'm doing.",
           confirmButtonText:"No, Keep it",
           confirmButtonColor:"#27ae60",
           cancelButtonColor:"#c0392b"
       });

       if(!decision.value){
        $.ajax({
           method:"POST",
           url:"/sc/delete",
           data:{id:id},
           success:async(res)=>{
               if(res.status===200){
                await Swal.fire({
                    position: 'center',
                    type: 'success',
                    title:"Deleted. 👻",
                    text: res.msg,
                    showConfirmButton: false,
                    timer: 1500
                    });
                    location.reload();
                    
               
                }else if(res.status===404){
                Swal.fire(
                     'The Internet?',
                     res.msg,
                     'error'
                    );

               }else{
                  console.log(res.msg);
               }
           },error:(res)=>{

           }
       });

       }else{
        Swal.fire({
            title:"Good decision !!💯",
            text: 'Your work not deleted. Try and you will make something amazing',
            type:"success",
            animation: false,
            customClass: {
            popup: 'animated tada'
                 }
            });
       }

   }
   
   //hiding story
   let hideStory=(id,p)=>{
   
       $.ajax({
           method:"POST",
           url:"/sc/hide",
           data:{id:id,p:p},
           success:async(res)=>{
               if(res.status===200){
                await Swal.fire({
                    position: 'center',
                    type: 'success',
                    title: res.msg,
                    showConfirmButton: false,
                    footer: 'Please wait...<div class="spinner-border text-info" role="status"><span class="sr-only">Loading...</span></div>',
                    timer: 2000
                    });
                    location.reload();
                    
               
                }else if(res.status===404){
                Swal.fire(
                     'The Internet?',
                     res.msg,
                     'error'
                    );

               }else{
                  console.log(res.msg);
               }
           },error:(res)=>{

           }
       });
    }

  </script>
</html>
