.alert {
  padding: 5px;
  opacity: 1;
  transition-property: display;
  transition-duration: 2s;
  transition-timing-function: linear;
  text-align: center;
  margin: 5px;
  border-radius: 50px;
  z-index: -1;
}
.alert::content {
  color: #2d3436;
  opacity: 1;
  z-index: 2;
}

.alert.success {
  background-color: #218c74;
}
.alert.info {
  background-color: #227093;
}
.alert.error {
  background-color: #b33939;
}
.alert.warning {
  background-color: #fdcb6e;
}
