<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title>Sign Up</title>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Login and Registration Form with HTML5 and CSS3"
    />
    <meta
      name="keywords"
      content="html5, css3, form, switch, animation, :target, pseudo-class"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/ext/signup/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/ext/signup/css/style3.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/signup/css/animate-custom.css"
    />
  </head>
  <body>
    <div class="container">
      <section>
        <div id="container_demo">
          <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
          <div id="wrapper">
            <div id="register" class="animate form" style="top: 10%">
              <form action="/signup/user" method="POST">
                <h1>Sign up</h1>
                <% include ../partial/message %>
                <p>
                  <label for="usernamesignup" class="uname" data-icon="u"
                    >Your username</label
                  >
                  <input
                    id="usernamesignup"
                    name="uname"
                    required="required"
                    type="text"
                    value="<%= typeof uname!='undefined' ? uname : '' %>"
                    placeholder="mysuperusername690"
                  />
                </p>
                <p>
                  <label for="fullnamesignup" class="youmail" data-icon="u">
                    Your Full-Name</label
                  >
                  <input
                    id="fullnamesignup"
                    name="name"
                    required="required"
                    type="text"
                    value="<%= typeof name!='undefined' ? name : '' %>"
                    placeholder="mr. abc xyz"
                  />
                </p>
                <p>
                  <label for="emailsignup" class="youmail" data-icon="e">
                    Your email</label
                  >
                  <input
                    id="emailsignup"
                    name="email"
                    required="required"
                    type="email"
                    value="<%= typeof email!='undefined' ? email : '' %>"
                    placeholder="mysupermail@mail.com"
                  />
                </p>
                <p>
                  <label for="passwordsignup" class="youpasswd" data-icon="p"
                    >Your password
                  </label>
                  <input
                    id="passwordsignup"
                    name="password"
                    required="required"
                    type="password"
                    placeholder="eg. X8df!90EO"
                  />
                </p>
                <p>
                  <label
                    for="passwordsignup_confirm"
                    class="youpasswd"
                    data-icon="p"
                    >Please confirm your password
                  </label>
                  <input
                    id="passwordsignup_confirm"
                    name="password_c"
                    required="required"
                    type="password"
                    placeholder="eg. X8df!90EO"
                  />
                </p>
                <p>
                  <label for="selectGender">Gender </label>
                  <select id="selectGender" name="gender" class="uname">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other.</option>
                  </select>
                  <br />
                </p>

                <div class="">
                  <input
                    type="submit"
                    style="background-color:#22a6b3 ;font-size:20px;border-radius:  50px "
                    value="Sign up"
                  />
                </div>
                <p class="change_link">
                  Already a member ?
                  <a href="/login" class="to_register"> Go and log in </a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <!--############################################################-->
  <!-- All js file including bootstrap4-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
