<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title>Login</title>
  </head>

  <!--#################################################################-->
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />

  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <link href="/ext/css/button.css" rel="stylesheet" />

  <!-- <link href="/ext/css/bootstrap.sand.css" rel="stylesheet" />
  <link href="/ext/css/button.css" rel="stylesheet" /> -->
  <!--#################################################################-->

  <body style="background-color: thistle">
    <div class="container">
      <div class="row m4 z-depth-5 flex" style="margin-top: 10%">
        <div
          class="col s7 flex center-align"
          style="background-color: transparent; padding-left: 0px;padding-right: 0%"
        >
          <img src="/ext/images/storyTeller-bg.png" width="100%" />
        </div>
        <div class="col s5 hoverable" style="background-color: white">
          <div class="center-align " style="padding: 10%">
            <img src="/ext/images/logo.png" height="64" />
            <br />
            <% include ../partial/message %>
            <form action="/login/user" method="POST">
              <div class="input-field">
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="validate"
                  style="border-color: #218c74"
                />
                <label for="email" style="color: #218c74">Email</label>
              </div>
              <div class="input-field" style="color: #218c74">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="validate"
                  style="border-color: #218c74"
                />
                <label for="password" style="color: #218c74">Password</label>
              </div>
              <br />
              <button
                type="submit"
                class="waves-effect waves-green brown darken-4 btn-small "
                style="border-radius:0px 50px;width:100%"
              >
                <i class="material-icons right"> play_for_work </i>Login
              </button>
            </form>
            <br />
            <h7 style="color: lightslategrey">or login with</h7>
            <div class="divider"></div>
            <br />
            <button
              class="btn btn-small waves-effect waves-teal teal darken-4 "
              style="border-radius: 0px 50px; width: 100%"
            >
              GOOGLE
              <img
                src="/ext/images/google-icon.png"
                class="inline-icon right"
                height="24"
                style="top:5px"
              />
            </button>
            <br />
            <br />
            <h6>
              <i>Doesn't have an account? ...</i
              ><a
                href="/signup"
                style="border-radius: 0px 50px; color:lightseagreen"
                >Sign Up</a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .flex {
      display: flex;
      flex-wrap: wrap;
    }

    .inline-icon {
      vertical-align: bottom;
      font-size: 16px !important;
    }
    .overlay {
      border: 1px solid #cc0;
      margin: auto;
      margin-top: 150px;
      text-align: center;
      width: 50%;
    }
  </style>
  <!--############################################################-->
  <!-- All js file including bootstrap4-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!--############################################################-->

  <script>
    $(document).ready(function() {
      $(".parallax").parallax();
    });
  </script>
</html>
