<!--initial-->
<% let check=(val)=>{ return val===userName} %>



<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title>Rokki</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
   <style>
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#s_result{
  height: 100px;
  width:fit-content;
  background-color:#485460;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}
#s_result ul{
 margin-left: 15px;
 color:black;
}
   </style>
  <body style="background-color:#3d3d3d">
    <nav class="brown darken-4 navbar-fixed sticky" >
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"
          ><img src="/ext/images/logo-dark.png" height="64"
        /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/profile/<%= userName%>"><%= userName%></a></li>
          <li><a href="/profile/<%= userName%>/stories">Edit</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <br/>
    <br/>
    <div class="row " >
      <ul class="col s8" style="height: 80%">
        <% for(let i=0;i<stories.length;i++){ %>
        <li>
          <div class="card hoverable">
            <div class="card-image">
              <img
                src="/ext/images/genre/default.jpg"
                height="200"
                style="opacity: 0.8"
              />
              <a
                class="btn-floating halfway-fab waves-effect waves-light darken-4"
                style="background-color: #ff3838"
                onclick="addLike(this,'<%= stories[i].s_ID %>')"
                ><i class="material-icons">
                  <%if(typeof stories[i].liked_by.find(check) === 'undefined' ){ %>
                  star_border
                  <%}else{%>
                    star
                    <%}%>
                    
                </i></a
              >
            </div>
            <div class="card-content">
              <span class="card-title" style="color:#2d3436 "><%= stories[i].title %></span>
              <div
                class="chip tooltipped"
                data-position="top"
                data-tooltip="Writter"
              >
                <img src="/ext/images/writter/default.png" alt="-" />
               <%= stories[i].shadow_clone.name%>
              </div>
              <div
                class="chip tooltipped"
                data-position="top"
                data-tooltip="Genre"
              >
                Genre
              </div>
              <span
                class="badge tooltipped"
                id="story-likes"
                style="color: whitesmoke;border-radius: 0px 50px;background-color: #7158e2"
                data-position="top"
                data-tooltip="Likes"
                ><%= stories[i].likes %></span
              >
              <hr />
              <p id="xyz">
                  <%= stories[i].s_body.txt %>
              </p>
            </div>
            <div class="card-action">
              <a href="/read/<%= stories[i].link %>" style="color: #218c74">More</a>
              <a href="" onclick="downloadStory('<%=stories[i].s_ID%>')"  style="color: #218c74">Download</a>
            </div>
          </div>
        </li>
        <%}%>
      </ul>

      <div class="col s2" style="height: 80%;margin-right: 5px">
        <div class="card-panel" style="position: fixed;width: 32%;height:100%;background-color: #4b4b4b">
          <div class="white-text">
              <div class="input-field">
                  <input type="text" id="autocomplete-input" onkeyup="getAllStories(this.value)">
                  <label for="autocomplete-input">Search Story</label>
                </div>
                <div id="s_result" >
                  <ul>
                    <!--search suggestion will generate here-->
                  </ul>
                </div>
            <h5 style="color: #f1f2f6">Genre</h5>
            <hr />
            <div class="chips chips-autocomplete chips-placeholder"></div>

            <div class="chips chips-initial"></div>
          </div>
        </div>
      </div>
    </div>

    <div></div>
  </body>
  <!--############################################################-->
  <!-- All js file including bootstrap4-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/ext/js/download.js"></script>

  <!--############################################################-->
  <!-- <%for(let i=0;i<stories.length;i++){%> -->
      
    <!-- <%}%> -->
  <script>
    $(document).ready(function() {
      $("select").formSelect();
      $(".tooltipped").tooltip({ margin: 0 });
      dashTrancat();
    });

    let dashTrancat = () => {
      
      $("p[id^=xyz]").each((i,obj)=>{
        let bodyText = $(obj).html();
      if (bodyText.length >= 500) {
        let str=bodyText.slice(0,499);
        str += "...<i style='color:#2980b9'>Read More.</i> ";
        $(obj).html(str);
      }

        
      });
      
    };

   

    /*==########################auto complete chips###########################==*/


    /*==######################## chips initial ###########################==*/

    $(".chips-initial").chips({
      data: [
        {
          tag: "Apple"
        },
        {
          tag: "Microsoft"
        },
        {
          tag: "Google"
        }
      ]
    });

    $(".chips-placeholder").chips({
      placeholder: "Search.."
    });

    let addLike = (x,id) => {
      let star = $(x)
        .find("i")
        .text();
        console.log(star.trim());

      let likes = parseInt(
        $(x)
          .parent()
          .siblings()
          .find("#story-likes")
          .text()
      );

      if (star.trim() === "star") {

           //removing likes
          removeLikes(id).then(res=>{
            if(res===200){
              $(x)
                .find("i")
                .text("star_border");

                if (likes > 0) {
                         $(x)
                          .parent()
                           .siblings()
                          .find("#story-likes")
                          .text(likes - 1);
                 }
              
            }else{

            }

          }).catch(err=>{
            console.error(err);
          });
      
      } else {
       
          //adding likes
          addLikes(id).then(res=>{
            if(res===200){
              $(x)
                .find("i")
                .text("star");

              $(x)
               .parent()
               .siblings()
               .find("#story-likes")
               .text(likes + 1);
            }else{
              console.log(res);
            }
          }).catch(err=>{
            console.error(err);
          });
        
      }
    };

    let downloadStory=(id)=>{
      console.log(id);
      window.open("/sc/download/"+id);

    }




    let addLikes=(id)=>{
      return new Promise((resolve,reject)=>{
         $.ajax({
           method:"POST",
           url:"/sc/addLike",
           data:{id:id},
           success:(res)=>{
             if(res.status===200){
               resolve(200);
             }
             else{
               reject(Error(res.status));
             }
           },
           error:(err)=>{
             console.err(err);
           }
         });
      });
    }

    let removeLikes=(id)=>{
      return new Promise((resolve,reject)=>{
         $.ajax({
           method:"POST",
           url:"/sc/removeLike",
           data:{id:id},
           success:(res)=>{
             if(res.status===200){
               resolve(200);
             }
             else{
               reject(Error(res.status));
             }
           },
           error:(err)=>{
             console.err(err);
           }
         });
      });
    }

    let getAllStories=(val)=>{
      let stories;
      $.ajax({
        url:"/sc/getStory",
        data:{data:val},
        method:"POST",
        success:(res)=>{
          $("#s_result").css({display:"block",height:"0px"});
          if(res.status===2000){
            let str="";
            if(!res.data.length<=0){
              for(let i=0;i<res.data.length;i++){
              str+="<li><a href='/story/"+res.data[i].link+"'>"+res.data[i].title+"</a></li>";
            }

            $("#s_result ul").html(str);
            $("#s_result").animate({height:"100px"},500);
            }else{
            str="<li style='color:#ff5252'>no story found</li>"
            $("#s_result ul").html(str);
            $("#s_result").animate({height:"100px"},500);
          }
            

          }
        },error:(err)=>{
          console.error(err);
        }

      });
    }
  </script>

  <!--################### Style ######################-->
  <style>
    .material-tooltip {
      background-color: #6d214f;
    }

    .story-body {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 3000px;
    }
  </style>

  <!--################################################-->
</html>
