<footer class="page-footer" style="background-color:#3d3d3d">
  <div class="container-fluid">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" style="text-align: center">Footer Content</h5>
        <p class="grey-text text-lighten-4" style="text-align: center">
          You can use rows and columns here to organize your footer content.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p style="text-align: center">© 2019 copyright Rokki.inc</p>
    </div>
  </div>
</footer>
