<style>
  .box {
    width: 80%;
    height: auto;
    padding: 20px;
  }
  a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: black;
    background-color: #218c74;
    border-radius: 15px;
  }
  .center {
    text-align: center;
  }
</style>

<img
  src="https://i.ibb.co/CmYhwwd/logo.png"
  height="64"
  style="margin-left: 47%"
/>
<div class="center">
  <h1>Welcome, to <span style="color: #227093">Rokki</span> family</h1>
  <h5>
    You are one step away from entering the open story community room. Please
    click the <span style="color:#2c2c54 ">confirm</span> button to verify your
    registration.
  </h5>
  <!-- <a type="button">Confirm</a>
</div>
<br />
<div style="margin-left:20%">
  <p>----------------</p>
  <h5>Thank you.</h5>
  <h5>Rokki-inc</h5>
</div> -->

  <!-- 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 -->
</div>
